.navbar{
    background-color: transparent;
    font-weight: bold;
}

.carousel-item .overlay{
    position: absolute;
    height:100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(21, 12, 8, 0.7);
}

.text{
   position: absolute;
 top:40%;
 z-index: 3;
 font-weight: bold;
padding-inline: 12%;
}

.text button{
    background-color: red;
    color:white;
}



.about{
    background-color: black;
}

.about button{
    background-color: red;
    
}
.about button a{
    text-decoration: none;
    color: aliceblue;
}


.about img{
    transition: all 1.5s ease;
    cursor: pointer;
}


.about img:hover{
    transform:scale(1.1) ;
}


.card{
    border : 5px solid red;
}

.card a{
    background-color: red;
    color: white;
}


.card img{
    transition: all 1.5s ease;
    cursor: pointer;
}

.card img:hover{
    
    transform:scale(1.3) ;

}


